<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello JCM!</h1>
          <p>My name is Kempis Guerrero Vélez and this is the app I made based on the fullstack test.<br/>
             This is the first time that I work with the ruby ​​programming language and with the rails framework, I learned a lot doing this app and I would love to be part of the JCM team to continue learning much more with you.<br/>
             Email 📩: <a href = "mailto: kempisguerrero96@gmail.com.com">kempisguerrero96@gmail.com<a/><br/>
             Phone ☎: <a href="tel: +593 96 778 3824">0967783824<a/></p>
        </div>
      </div>

    </main>