<h1>Hello JCM!</h1>
<p>
My name is Kempis Guerrero Vélez and this is the app I made based on the fullstack test.<br/>
This is the first time that I work with the ruby ​​programming language and with the rails framework, I learned a lot doing this app and I would love to be part of the JCM team to continue learning much more with you.<br/>
Email: kempisguerrero96@gmail.com<br/>
Phone#: 0967783824 
</p>
