<h1>Editing Product</h1>
<br/>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class:'btn btn-secondary mt-3' %>
<%= link_to 'Back', products_path, class:'btn btn-secondary mt-3' %>
